@import "tailwindcss";

@theme {
  --font-sans: var(--font-outfit);
  --color-background: #ffffff;
  --color-foreground: #09090b;
}

@layer base {
  * {
    @apply border-zinc-100 outline-zinc-950;
  }
  body {
    @apply bg-background text-foreground antialiased selection:bg-zinc-900 selection:text-white;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
