@import "tailwindcss";

@theme {
  --font-sans: var(--font-outfit);
  --font-serif: Georgia, serif;
  --color-background: #ffffff;
  --color-foreground: #09090b;
}

@layer base {
  * {
    @apply border-zinc-100 outline-zinc-950;
  }
  body {
    @apply bg-background text-foreground antialiased selection:bg-zinc-900 selection:text-white font-medium;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  h1, h2, h3, h4 {
    @apply font-serif font-medium tracking-tight;
  }
  select {
    @apply appearance-none bg-no-repeat cursor-pointer focus:ring-0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 9l-7 7-7-7'%3E%3C/path%3E%3C/svg%3E");
    background-position: right 0.75rem center;
    background-size: 1rem;
  }
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
