@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
}

:root {
  --background: #ffffff;
  --foreground: #09090b;
}

@layer base {
  * {
    @apply border-zinc-200 outline-zinc-950;
  }
  body {
    @apply bg-background text-foreground antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
